@use "components";

@mixin section-display{
    margin: auto;
    padding: 3rem;    
    max-width: 100vw;
}

// html{
//     min-width: 100vw;
// }
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid #ddd;

}
.logo a img{
    max-width:7rem;
    height: 1rem;
}

.sec-home{
    @include section-display();
    display: flex;
    align-items: center;
    justify-content: space-around;
    .home-cta{
        // flex: 1;
        .cta-text{
            color: components.$color-main;
        }
        .home-title{
            width: 20rem;
            font-size: 2rem;
        }
        .home-description {
            width: 300px;
        }
        .lead-magnet {
            .input-col {
                max-width: 200px;
            }
    }
}
}

.sec-features{
    @include section-display();
    display: flex;
    flex-direction: column;
    align-items: center;
    .intro {
        text-align:center;
        h3{
            font-size: 1.8rem;
        }
        p{
            font-size: 0.8rem;
            color: #888;
        }
    }
    .features{
        display: flex;
        align-items: center;
        gap: 1rem;
        .text{
            padding: 2rem 0;
            flex: 1;
            .feature{
                display: flex;
                flex-direction: row;
                align-items: center;

                .description{
                    margin-left: 1rem;
                    max-width: 20rem;
                    .description-title{
                        font-size: 1.15rem;
                    }
                    .description-text{
                        font-size: 1rem;
                        
                    }
                }
            }
        }
        .image{
            img{
                max-width: 20rem;
            }
        }
    }
}

.sec-benefits{
    // @include section-display();
    border-top: 1px solid #ddd;
    .intro {
        @extend .sec-features, .intro;
    }
    align-items: center;
    margin: 0;
    .benefit-cards {
        width: 100%;
        padding: 0 2rem 2rem 2rem;
    }
}

.sec-kpis {
    margin: auto;
    background-color: components.$color-main;
    color: white;
    padding: 4rem;
    max-width: 100%;
    .kpi{
        display: flex;
        flex-direction: column;
        align-items: center;
        .number{
            font-size: 3.5rem;
            font-weight: 600;
        }

        .desc{
            font-size: 0.9rem;
            color: #ffffffaa;

        }
    }
}

.sec-onboarding{
    // @include section-display();
    max-width: 100%;
    .intro{
        @extend .sec-features, .intro;
    }
    .steps{
        padding:0 7rem 5rem 7rem;
        display: flex;
        align-items: center;
        justify-content: center;    
        .step-separator {
            flex:1;
            border-top: 2px solid #ddd;
            margin: 0 1rem;
        }
    }
}

.sec-footer-cta{
    // @include section-display();
    background-color: components.$color-footer-cta;
    padding: 5rem;
    background-image: url('../assets/img/bg.png');
    background-repeat: no-repeat;
    background-position: 100%;
    .footer-cta{
        width: 50%;
        .cta-title{
            font-size: 1rem;
        }
        .cta-description{
            font-size: 1rem;
        }
    }
}


// Que funcione cuando trabajemos con menos de 768px o md de bootstrap
@media (max-width: 768px){
    .sec-onboarding{
        
        .steps{
            flex-direction: column;
            .icon-desc{
                .title{
                    text-align: center;
                }
            }
        }
    }
    .sec-footer-cta{
        background-image: none;
        .footer-cta{
            width: 100%;
            text-align: center;
        }
    }
    .sec-benefits{
        .intro{
            text-align: center;
        }
        .intro h3{
            font-size: 2rem;
        }
    }
    .sec-features{
        .intro {
            h3{
                font-size: 3rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
}