@mixin bt-sm-modify{
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}

@mixin btn-base{
    padding: 0.25rem 1.5rem;
    border-radius: 0.25rem;
}

$color-main: #0075ff;

.btn-main{
    @include btn-base();
    background-color: $color-main;
    color: white;
    border: 1px solid $color-main;

    &:hover{
        background-color: white;
        color: $color-main;
        border: 1px solid $color-main;
    }
    &-s{
        @extend .btn-main;
        @include bt-sm-modify();
    }
}

.btn-sec{
    @include btn-base();
    color: black;
    background-color: transparent;
    border: none;

    &:hover{
        color:#888;
        border: none;
        
    }

    &-s{
        @extend .btn-sec;
        @include bt-sm-modify();
    }
}

.main-menu{
    margin-bottom: 0;
    li{
        display: inline;
        list-style: none;
        font-size: 1rem;
        margin-right: 2rem;
        a{
            color: #000000;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.icon-sm{
   
    i{
        box-shadow: 0 0 10px #000055;
        border-radius: 50%;
        font-size: 1.25rem;
        padding: 0.4rem 0.65rem;
        color: $color-main;
    }
}

.benefit{
    display: flex;
    flex-direction: column;

    .icon{
        color: $color-main;
        font-size: 7.5rem;
        text-align: center;
    }
    .description{

        .title{
            font-size: 2rem;
            text-align: center;
        }
        .text{
            color: #888;
            font-weight: 600;
            text-align: center;
        }
    }
    .cta{
        color: $color-main;
        font-weight: 600;
        margin-top: 3rem;
        text-align: center;
    }
}

.icon-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon{
        color: $color-main;
        padding: 0;
        font-size: 10rem;
      
    }
    .title{
        margin-top: -2rem;
        font-size: 1.5rem;
        font-weight: 600;
        
        
    }
}